// !IMAGES

// Source: https://github.com/inuitcss/base.images

img {

    max-width: 100%;
    font-style: italic;
    height: auto;
    vertical-align: middle;

}

img[width],
img[height] {

    max-width: none;

}