// Center the unknown

.l-center {

    text-align: center;
    //white-space: nowrap;

    &.is-left {
        text-align: left;
    }

    &.is-right {
        text-align: right;
    }

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; /* Adjusts for spacing */
    }

    > .l-centered {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    }

}